{% extends "base.html" %}
<!DOCTYPE html>

{% block title %}{{block.super}} | Editieren{% endblock %}

{%block navBearbeitung%}
<a class="nav-item nav-link active" href="{% url 'todo-bearbeitung' %}">Editieren<span class="sr-only">(current)</span></a>
{%endblock%}

{%block body%}{{block.super}}

<div class = "jumbotron text-center">
  <h1>Editierung eines TODO Eintrags </h1>
</div>

<div class="container-fluid">
  <div class="jumbotron bg-light">
    <h1>Bearbeiten</h1>

    <br>

    <form method="POST" action="{% url 'todo-bearbeitung' id=todo.id %}">
      {%csrf_token%}
      <div class = "form-group">
        <label for = "titel">Titel</label>
          {{form.titel}}
      </div>

      <div class = "form-group">
        <label for= "beschreibung">Beschreibung</label>
          {{form.beschreibung}}
      </div>

      <label for = "deadline">Deadline</label>
      <div class = "form-group row">

        <div class = "col-xs-4">
          <div class = "container">
            <label for = "tag"> Tag </label>
              {{form.tag}}
          </div>
        </div>

        <div class = "col-xs-4">
          <div class = "container">
            <label for = "monat"> Monat </label>
              {{form.monat}}
          </div>
        </div>

        <div class = "col-xs-4">
          <div class = "container">
            <label for = "jahr"> Jahr </label>
              {{form.jahr}}
          </div>
        </div>

      </div>

      <div class = "form-group">
        <label for= "staus">Status</label>
          {{form.status}}
      </div>

          <br>

      <div>
        <button type = "submit" class="btn btn-primary">Bearbeitung speichern</button>
      </div>

    </form>
  </div>
</div>
{%endblock body%}
