{% extends "base.html" %}
<!DOCTYPE html>

{% block title %}{{block.super}} | Editieren{% endblock %}

{%block navBearbeitung%}
<a class="nav-item nav-link active" href="bearbeitungTodo.html">Editieren<span class="sr-only">(current)</span></a>
{%endblock%}

{%block body%}{{block.super}}

<div class = "jumbotron text-center">
  <h1>Editierung eines TODO Eintrags </h1>
</div>


<div class="container-fluid">
  <div class="jumbotron bg-light">
    <h1>Bearbeiten</h1>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        TODO wählen
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">GIT anlegen</a>
        <a class="dropdown-item" href="#">Hausaufgabe 1</a>
      </div>
    </div>


    <br>
    <form>

      <div class="form-group">
        <label for="title">Titel bearbeiten</label>
        <input type="text" class="form-control" id="name" placeholder="Neuer Titel">
      </div>

      <div class="form-group">
        <label for="beschreibung">Beschreibung bearbeiten</label>
        <input type="text" class="form-control" id="beschreibung" placeholder="Neue Beschreibung" maxlength="160">
      </div>

      <div class="form-group">
        <label for="deadline">Deadline bearbeiten</label>
        <div class = "form-group row">
          <div class = "col-xs-4">
            <div class = "container">
              <label for = "tag"> Tag </label>
              <select class="form-control" id="tag">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
                <option>13</option>
                <option>14</option>
                <option>15</option>
                <option>16</option>
                <option>17</option>
                <option>18</option>
                <option>19</option>
                <option>20</option>
                <option>21</option>
                <option>22</option>
                <option>23</option>
                <option>24</option>
                <option>25</option>
                <option>26</option>
                <option>27</option>
                <option>28</option>
                <option>29</option>
                <option>30</option>
                <option>31</option>
              </select>
            </div>
          </div>
          <div class = "col-xs-4">
            <div class = "container">
              <label for = "monat"> Monat </label>
              <select class="form-control" id="monat">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
              </select>
            </div>
          </div>
          <div class = "col-xs-4">
            <div class = "container">
              <label for = "jahr"> Jahr </label>
              <select class="form-control" id="jahr">
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
                <option>2026</option>
                <option>2027</option>
                <option>2028</option>
                <option>2029</option>
                <option>2030</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for = "percentageInput">Status Bearbeiten</label>
        <input type = "range" class = "custom-range" min= "0" max= "100" step = "1" id = "percentageInput" oninput="percentageOutputId.value = percentageInput.value">
        <output name="percentageOutputName" id="percentageOutputId">50</output>
        %
      </div>

      <br>

      <div>
        <button type = "submit" class = "btn btn-primary">Änderungen bestätigen</button>
      </div>

    </form>
  </div>
</div>
{%endblock body%}
