{% extends "base.html" %}
<!DOCTYPE html>

{% block title %}{{block.super}} | Neues TODO {% endblock %}

{%block navNeuesTodo%}
  <a class="nav-item nav-link active" href="neuesTodo.html">Neues TODO<span class="sr-only">(current)</span></a>
{%endblock%}

{%block body%}{{block.super}}
  <div class = "jumbotron text-center">
    <h1>Neues TODO erstellen</h1>
  </div>

  <div class = "container-fluid">
    <div class = "jumbotron bg-light">

      <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
          <button type = "submit" class="btn btn-primary">Erstellen</button>
      </form>
    </div>
  </div
  {%endblock body%}
